<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pc.ing1_">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".Kakao.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="f3d77f96de19ac3e3098ed9551d8e6ed" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBmSYpaf4OzrDeFCn9rkyR90y0D6VT6sxQ" />

        <activity android:name=".Login.Login_Activity" />
        <activity android:name=".Sign.Sign_1_agree_Activity" />
        <activity android:name=".Sign.Sign_2_sms_Activity" />
        <activity
            android:name=".Sign.Sign_3_id_Activity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".Sign.Sign_4_profile" />
        <activity
            android:name=".Main_Activity"
            android:label="@string/title_activity_main_"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!--  -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Profile_View" />
        <activity android:name=".asd" />
        <activity
            android:name=".Menu.Main.Cluster_Activity"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity android:name=".Menu.Main.Store_info_Activity" />
        <activity android:name=".aaa.MainActivity" />
        <activity android:name=".Menu.Main.Image_Total_Activity" />
        <activity android:name=".Menu.Menu.Menu_Activity" />
        <activity android:name=".Menu.Menu.Search_Activity" />
        <activity android:name=".Menu.Menu.Menu_Activity2" />
        <activity android:name=".Menu.Menu.Food_input" />
        <activity android:name=".Menu.Menu.Food_Info_Activity" />
        <activity android:name=".Menu.Menu.Schedule"></activity>
    </application>

</manifest>